.c-use-cases
	color							$white
	overflow						hidden
	width							100%

	&__image
		relative()
		
		&:before
			absolute()
			background				rgba($black, 0.5)
			bottom					0
			content					""
			display					block
			height					100%
			left					0
			right					0
			top						0
			width					100%

	&__title
		color						$white
		font-weight					300